.gallery-modal {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.88);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;

    animation: fadeIn .35s ease;
}

.gallery-modal-content {
    position: relative;

    width: 90%;
    max-width: 1000px;

    animation: zoomIn .35s ease;
}

.gallery-modal-image {
    width: 100%;
    max-height: 85vh;

    object-fit: contain;

    border-radius: 18px;

    display: block;
}

.close-btn {

    position: absolute;

    top: -55px;
    right: -5px;

    width: 45px;
    height: 45px;

    border: none;
    border-radius: 50%;

    background: rgba(255,255,255,.12);

    color: white;

    font-size: 30px;

    cursor: pointer;

    transition: .3s;
}

.close-btn:hover{

    background:#2563eb;


}

@keyframes fadeIn{

    from{

        opacity:0;

    }

    to{

        opacity:1;

    }

}

@keyframes zoomIn{

    from{

        transform:scale(.85);

        opacity:0;

    }

    to{

        transform:scale(1);

        opacity:1;

    }

}

.prev-btn,
.next-btn{

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    width:55px;
    height:55px;

    border:none;

    border-radius:50%;

    background:rgba(255,255,255,.18);

    color:#fff;

    font-size:32px;

    cursor:pointer;

    transition:.3s;
}

.prev-btn{

    left:-80px;

}

.next-btn{

    right:-80px;

}

.prev-btn:hover,
.next-btn:hover{

    background:#2563eb;

}

@media(max-width:1100px){

    .prev-btn{

        left:15px;

    }

    .next-btn{

        right:15px;

    }

}